h2 = t('mailers.welcome')
p = t('mailers.account_mailer.password_reset.body', email: @account.email).html_safe

.mt-4
  = link_to t('mailers.account_mailer.password_reset.submit'), accounts_passwords_reset_edit_url(reset_password_token: @token), class: StylesHelper.button_classes.render, style: 'text-decoration:none;'

br
hr.my-6.border-gray-200.sm:mx-auto.lg:my-8
p = t('mailers.account_mailer.password_reset.notify')
