# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 1ba3c0c9041b2715c4fded4f9d6cb9d22983a687c68884af6e0a183384fe0d565bff0ac9a6dec7c762c32e310c287433cd843c87cb6917663626f0fa64a22cc0

# generate new keys for these thing
active_record_encryption:
  primary_key: urvgojc2ZyOlvbId9Y1ziI2RUdc9NCNo
  deterministic_key: 8gTGVAV5kR2PuyfWoud1YneIQgUaEi2s
  key_derivation_salt: XdbHv5eb1EJseqaKFUVJDKCE5YXn56n

# fill those things from your google panel, it has to be v1 and v2
# you can't leave it empty because Captchable use fallback to v1 if automatic verification fails
recaptcha_site_key: <your_v1_key>
recaptcha_secret_key: <your_v1_secret>
recaptcha_site_key_v2: <your_v2_key>
recaptcha_secret_key_v2: <your_v2_secret>

# If you want to use discord oauth
discord:
  client_id: <discord_client_id>
  secret: <discord_secret>
